@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}

.dark .bg-gray-200 {
  background-color: #4b5563;
}

.dark .text-gray-700 {
  color: #d1d5db;
}

.dark .hover:bg-gray-300:hover {
  background-color: #374151;
}

.dark .dark:bg-gray-800 {
  background-color: #1f2937;
}

.dark .dark:text-white {
  color: #f3f4f6;
}
